footer {
  border-top: 1px solid var(--color-primary);
  padding: 3rem 0;
  background: #000;
  margin-top: 7rem;
  font-size: calc(1.5 * 1vmax);
}
.footer__copyright a {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2.5px;
}
.footer__copyright {
  margin-bottom: 4rem;
  display: flex;
  gap: calc(1.5 * 1vmax);;
  flex-direction: row;
  color: var(--color-bg);
}
