.experience__container {
  font-family: "Comic";
}

/* .experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
  color: var(--color-bg);
}
 */

.work p {
  font-size: calc(1.5 * 1vmax);
}

.experience__container h3 {
  font-size: calc(1.7 * 1vmax);
}

.experience__container h2 {
  font-size: calc(4 * 1vmax);
  font-family: "Comic";
  color: var(--color-primary);
}
.work h1 {
  font-size: calc(2 * 1vmax);
  font-weight: bold;
}

.work h3 {
  font-size: calc(1.7 * 1vmax);
  font-weight: 500;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  color: var(--color-bg);
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/*  MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__content {
    padding: 1rem;
  }
}
/*  MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
}
